@media screen and (min-width: 992px) {
  .nav-menu-mobile {
    display: none;
  }
  .nav-menu {
    height: 120px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .nav-menu .nav-menu-part {
    height: 100%;
  }
  .nav-menu .nav-menu-part img {
    width: 80%;
    height: 98%;
  }
  .nav-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    list-style-type: none;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .nav-menu ul li a {
    --fill-color: #E66445;
    position: relative;
    display: block;
    text-decoration: none;
    -webkit-text-stroke: 2px var(--fill-color);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, var(--fill-color))) left/0 no-repeat;
    background: linear-gradient(var(--fill-color) 0 100%) left/0 no-repeat;
    color: transparent;
    background-clip: text;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
    font-size: 35px;
    font-family: 'Ubuntu', sans-serif;
  }
  .nav-menu ul li a:hover {
    background-size: 100%;
  }
}

@media screen and (max-width: 992px) and (min-width: 576px) {
  .nav-menu-mobile {
    display: none;
  }
  .nav-menu {
    width: 100%;
    height: 120px;
  }
  .nav-menu .nav-menu-part {
    padding: 0 !important;
    height: 100%;
  }
  .nav-menu .nav-menu-part img {
    width: 100%;
    height: 98%;
  }
  .nav-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    list-style-type: none;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .nav-menu ul li a {
    --fill-color: #ec876e;
    position: relative;
    display: block;
    text-decoration: none;
    -webkit-text-stroke: 2px var(--fill-color);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, var(--fill-color))) left/0 no-repeat;
    background: linear-gradient(var(--fill-color) 0 100%) left/0 no-repeat;
    color: transparent;
    background-clip: text;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
  }
  .nav-menu ul li a:hover {
    background-size: 100%;
  }
}

@media screen and (max-width: 576px) {
  .nav-menu {
    display: none;
  }
  .nav-menu .nav-menu-mobile {
    height: 50px;
  }
  .nav-menu .nav-menu-mobile .nav-menu-mobile-part {
    height: 100%;
  }
  .nav-menu .nav-menu-mobile .nav-menu-mobile-part img {
    width: 20%;
    height: 98%;
  }
  .nav-menu-mobile {
    position: relative;
  }
  .nav-menu-mobile .nav-menu-part .logo-mobile {
    width: 65px;
    height: 65px;
  }
  #menuToggle {
    display: block;
    position: absolute;
    top: 20%;
    right: 5%;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
  }
  #menuToggle a {
    text-decoration: none;
    color: #E66445;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }
  #menuToggle a:hover {
    color: black;
  }
  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }
  #menuToggle span {
    display: block;
    width: 27px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #E66445;
    border-radius: 3px;
    z-index: 1;
    -webkit-transform-origin: -1.5px 0px;
            transform-origin: -1.5px 0px;
    -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  #menuToggle span:first-child {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  #menuToggle span:nth-last-child(2) {
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  #menuToggle input:checked ~ span {
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(-2px, -1px);
            transform: rotate(45deg) translate(-2px, -1px);
    background: #E66445;
  }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.2, 0.2);
            transform: rotate(0deg) scale(0.2, 0.2);
  }
  #menuToggle input:checked ~ span:nth-last-child(2) {
    -webkit-transform: rotate(-45deg) translate(0, -1px);
            transform: rotate(-45deg) translate(0, -1px);
  }
  #menu {
    position: fixed;
    width: 300px;
    margin-left: -150px;
    padding: 50px;
    padding-top: 30px;
    background: #f7f6f6;
    border-radius: 7px;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: translate(100%, 0%);
            transform: translate(100%, 0%);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    z-index: 5;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
  }
  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }
  #menuToggle input:checked ~ ul {
    -webkit-transform: none;
            transform: none;
  }
}
/*# sourceMappingURL=navigation.css.map */